.columns-container {
  padding: 40px 0 0;
  margin: 0!important;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns p { 
  text-align: left;
}

.columns strong { 
  font-weight: bold;
}

.columns h3 { 
  font-weight: bold;
  padding: 0 20px;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 10px;
    align-items: stretch;
  }

  .columns > div > div {
    flex: 1;
    order: unset;

    > p {
      padding: 0 20px;
    }
  }

  .columns-2-cols.columns.block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .columns-3-cols.columns > div > div {
    flex: 1;
    order: unset;
    background-color: var(--color-neutral-50);
    border-radius: var(--shape-border-radius-2);
    border: var(--shape-border-width-1) solid var(--color-neutral-500);
  }
}
